/* Section One*/

th { background: #009879;}
table {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
        font: normal 12px arial; 
        width: 100%;
}
td, th { border: 1px solid #cdcdcd; padding: 2px;}

/* Section two*/

@media only screen and (max-width: 960px),
(min-device-width: 968px) and (max-device-width: 1024px)  {
        /* Section three*/
                table, thead, tbody, th, td, tr { 
                        display: block; 
                }
                /* Section four*/
                thead tr { 
                        position: absolute;
                        top: -9999px;
                        left: -9999px;
                }
                
                tr { border-bottom: 1px solid #ccc; }
/* Section five*/
                td { 
                     border: none;
                     border-bottom: 1px solid #eee; 
                     position: relative;
                     padding-left: 50%; 
                }
                td:before { 
                        position: absolute;
                        top: 3px;
                        left: 6px;
                        width: 45%; 
                        padding-right: 10px; 
                        white-space: nowrap;
                        font-weight: bold;
                }
                /* Section six*/

                td:nth-of-type(1):before { content: "Brand Name";padding-right: 2rem; }
                td:nth-of-type(2):before { content: "Price $"; padding-right: 2rem;}
                td:nth-of-type(3):before { content: "Image";padding-right: 2rem; }
                td:nth-of-type(4):before { content: "Add "; padding-right: 2rem;}
                td:nth-of-type(5):before { content: "Remove "; padding-right: 2rem;}
               
}

/* Section seven*/
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 480px) {
                body { 
                        padding: 0; 
                        margin: 0; 
                        width: 520px; }
                }
/* Section eight*/
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
          body { 
                        width: 495px; 
                }
        }





/* .styled-table {
    border-collapse: collapse;
    margin: 25px 25px;
    font-size: 1.1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    min-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 10rem;
} */
 thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 22px 15px;
    cursor: pointer;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.c-container{
    display: flex;
    height: 100%;

}
.c-header{
 display:flex;
 gap: 2rem;
 flex:1;
 align-items: center;

}
.c-nav{
    display:flex;
    gap: 2rem;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}

.c-list{
    display:flex;
    gap: 2rem;
    font-weight: 600;
    list-style: none;
    font-size: 1.4rem;

}
.c-list li:hover{
    color:#009879;
}
.c-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,2fr));
    height: 100rem;
    padding-bottom: 2rem;
    overflow: scroll;
    grid-gap:4rem;
    margin: 2rem 2rem;
    justify-content: space-between;
}
.card {
    width: 22rem;
    height: 18rem;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    width: 10rem;
    height: 9rem;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 3%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    /* padding-bottom: 7px; */
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #009879;
    background-color: #0f5132;
   }
   
.card img{
    width: 20rem;
    height: 13rem;
}
.checkout-button{
    margin: 2rem 0;
}
.image-brand{
    width: 20rem;
}

/* The alert message box */
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
  }
  
  .success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
  }
  
  .warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
  }
  .primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
  }
  
  .secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
  }
  
  .info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
  }
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  .hide {
    display: none;
  }

  /* button */
  .clearButton{
    margin-left: 48rem;
  }
  button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin-left: 25rem;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #009879;
    color: ghostwhite;
   }
   
   button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   button:hover span {
    color: black;
   }
   
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
 

   @media screen and (max-width: 640px) {
    button {
      outline: none;
      cursor: pointer;
      border: none;
      padding: 0.9rem 2rem;
      margin-top: 2rem;
      margin-left: 5rem;
      font-family: inherit;
      font-size: inherit;
      position: relative;
      display: inline-block;
      letter-spacing: 0.05rem;
      font-weight: 700;
      font-size: 17px;
      border-radius: 500px;
      overflow: hidden;
      background: #009879;
      color: ghostwhite;
     }
     .clearButton{
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
    .card {
      width: 16rem;
      height: 18rem;
      padding: .8em;
      background: #f5f5f5;
      position: relative;
      overflow: visible;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
     }
     .card img{
      width: 14rem;
      height: 13rem;
  }

   }


   @media screen and (max-width: 994px) {
    button {
      outline: none;
      cursor: pointer;
      border: none;
      padding: 0.9rem 2rem;
      margin-top: 2rem;
      margin-left: 5rem;
      font-family: inherit;
      font-size: inherit;
      position: relative;
      display: inline-block;
      letter-spacing: 0.05rem;
      font-weight: 700;
      font-size: 17px;
      border-radius: 500px;
      overflow: hidden;
      background: #009879;
      color: ghostwhite;
     }
     .clearButton{
      margin-left: 1rem;
      margin-bottom: 1rem;
    }

   }

